<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
    <title>Shoe Portal Home</title>
  </head>
  <body>
    <div class="container">
      <h1 class="page-title">Shoe Distribution Portal</h1>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 home-column">
          <form>
            <button class="btn btn-lg btn-default main-page-button" type="submit" formaction="/stores">Manage by Store</button>
            <button class="btn btn-lg btn-default main-page-button" type="submit" formaction="/brands">Manage by Brand</button>
          </form>
        </div>
        <div class="col-xs-3"></div>
      </div>
    </div>
  </body>
</html>
